---
import RootLayout from "@/layouts/RootLayout.astro";
import SocialIcons from "@/components/SocialIcons.astro";
import Moving from "@/components/Moving.astro";
import { SITE } from "@/config";
const title = "AstroTheme";
const description = "I put all my romanticism".toUpperCase();
const author = "hexWars";
const time = "2020 - 2024";
---

<RootLayout title={SITE.title}>
	<Moving />
	<div class="h-full flex justify-center items-center z-10 select-none">
		<div
			class="text-foreground text-7xl grid title-wrapper mb-[2.7%] w-screen h-full items-center justify-center"
		>
			<div class="title-top ml-1 italic bg-foreground">
				{title}
			</div>
			<div class="title-bottom italic bg-ring" aria-hidden="true">
				{title}
			</div>
		</div>
		<div
			class="absolute fill-ring top-[38%] left-[36%] hover:-rotate-12 origin-center ease-in-out duration-300 transition-all"
		>
			<svg
				width="96"
				height="21"
				viewBox="0 0 96 21"
				aria-hidden="true"
				class="fill-ring"
				xmlns="http://www.w3.org/2000/svg"
				style="translate: none; rotate: none; scale: none; transform: translate3d(0px, 21.856px, 0px);"
				><path
					d="M79.2202 0.959991L62.7802 17.32L46.3301 0.959991L29.8902 17.32L13.4501 0.959991L0.410156 13.94L0.400146 17.58L13.4501 4.58999L29.8902 20.95L46.3301 4.58999L62.7802 20.95L79.2202 4.58999L93.7302 19.02L95.5402 17.19L79.2202 0.959991Z"
				></path></svg
			>
		</div>
		<div class="absolute fill-ring top-[50%] left-[64%]">
			<svg
				width="15"
				height="14"
				viewBox="0 0 15 14"
				aria-hidden="true"
				class="fill-ring hover:rotate-45 origin-center"
				xmlns="http://www.w3.org/2000/svg"
				style="translate: none; rotate: none; scale: none; transform: translate3d(0px, 21.856px, 0px);"
				><path
					d="M13.68 11.51L9.23 7.05998L13.68 2.61C14.24 2.05 14.24 1.12999 13.68 0.569994C13.12 0.00999391 12.2 0.00999391 11.64 0.569994L7.19002 5.02001L2.74001 0.569994C2.18001 0.00999391 1.26003 0.00999391 0.700029 0.569994C0.140029 1.12999 0.140029 2.05 0.700029 2.61L5.15004 7.05998L0.700029 11.51C0.140029 12.07 0.140029 12.99 0.700029 13.55C1.26003 14.11 2.18001 14.11 2.74001 13.55L7.19002 9.09999L11.64 13.55C12.2 14.11 13.12 14.11 13.68 13.55C14.24 12.99 14.24 12.08 13.68 11.51Z"
				></path></svg
			>
		</div>

		<!-- long line -->
		<div
			class="absolute left-0 right-0 top-[50%] transform -translate-y-1/2 h-[0.3rem] bg-gradient-to-r from-foreground via-transparent to-ring"
		>
		</div>

		<!-- line2 -->
		<div
			class="absolute left-[45%] right-[45%] top-[56%] transform -translate-y-1/2 h-[0.1rem] bg-foreground"
		>
		</div>
		<div
			class="absolute left-[42%] right-[42%] top-[58%] text-xs flex font-bold justify-center underline decoration-dotted decoration-1 underline-offset-[20px]"
		>
			{description}
		</div>
		<!-- <div class="absolute flex bottom-[43%]">
			{
				SOCIALS.filter((social) => social.active).map((social) => (
					<a
						href={social.href}
						class="w-5 h-5 mx-1 fill-none stroke-foreground hover:stroke-ring "
					>
						<Fragment set:html={socialIcons[social.name]} />
					</a>
				))
			}
		</div> -->
		<div
			class="absolute left-[42%] right-[42%] top-[63%] text-xs flex justify-center"
		>
			{author}
		</div>
		<div
			class="absolute left-[42%] right-[42%] top-[65%] text-xs flex justify-center"
		>
			-
		</div>
		<div
			class="absolute left-[42%] right-[42%] top-[67%] text-xs flex justify-center"
		>
			{time}
		</div>
		<!-- left -->
		<div
			class="absolute left-[4%] right-[42%] top-[45%] text-xl font-extralight text-foreground flex gap-1"
		>
			<SocialIcons />
		</div>
	</div>
	<!-- picture -->
	<!-- <div
		class="w-full h-[90%] absolute flex place-items-center justify-center z-0"
	>
		<img
			src="/dragon2.svg"
			alt="dragon2"
			class="h-[80%] blur fill-ring stroke-ring"
		/>
	</div> -->

	<!-- 圆 -->
	<!-- <div
		class="absolute max-h-screen max-w-screen left-[60%] right-[42%] top-[10%] text-xl rounded-full bg-ring w-[380px] h-[380px] transition hover:scale-[110%] z-0 duration-1000 ease-in-out blur-3xl"
	>
	</div> -->
</RootLayout>

<style>
	.title-wrapper > div {
		grid-area: 1/1/-1/-1;
	}
	.title-top {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
	}
	.title-bottom {
		clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
