---
import RootLayout from "../layouts/RootLayout.astro";
import { SOCIALS } from "@/config";
const title = "Sehnsucht";
const description = "POWER BY ASTRO";
const author = "hexWars";
const leftDescription = "A Astro Theme";
const time = "2020 - 2024";
---

<RootLayout title="Welcome to Astro.">
	<div class="h-full flex justify-center items-center z-10">
		<!-- title -->
		<div
			class="text-foreground text-7xl grid title-wrapper mb-[2.7%] w-screen h-full items-center justify-center"
		>
			<div class="title-top ml-1 italic bg-foreground">
				{title}
			</div>
			<div class="title-bottom italic bg-foreground" aria-hidden="true">
				{title}
			</div>
		</div>
		<!-- long line -->
		<div
			class="absolute left-0 right-0 top-[49.9%] transform -translate-y-1/2 h-[0.2rem] bg-foreground"
		>
		</div>
		<!-- line2 -->
		<div
			class="absolute left-[45%] right-[45%] top-[56%] transform -translate-y-1/2 h-[0.1rem] bg-foreground"
		>
		</div>
		<div
			class="absolute left-[42%] right-[42%] top-[58%] text-xs flex font-bold justify-center underline decoration-dotted decoration-1 underline-offset-[20px]"
		>
			{description}
		</div>
		<!-- <div class="absolute flex bottom-[43%]">
			{
				SOCIALS.filter((social) => social.active).map((social) => (
					<a
						href={social.href}
						class="w-5 h-5 mx-1 fill-none stroke-foreground hover:stroke-ring "
					>
						<Fragment set:html={socialIcons[social.name]} />
					</a>
				))
			}
		</div> -->
		<div
			class="absolute left-[42%] right-[42%] top-[63%] text-xs flex justify-center"
		>
			{author}
		</div>
		<div
			class="absolute left-[42%] right-[42%] top-[65%] text-xs flex justify-center"
		>
			-
		</div>
		<div
			class="absolute left-[42%] right-[42%] top-[67%] text-xs flex justify-center"
		>
			{time}
		</div>
		<div
			class="absolute left-[4%] right-[42%] top-[45%] text-xl font-extralight text-foreground"
		>
			{leftDescription}
		</div>
	</div>
	<div
		class="w-full h-[90%] absolute flex place-items-center justify-center z-0"
	>
		<img
			src="/dragon2.svg"
			alt="dragon2"
			class="h-[80%] blur fill-ring stroke-ring"
		/>
	</div>

	<!-- 圆 -->
	<!-- <div
		class="absolute max-h-screen max-w-screen left-[60%] right-[42%] top-[10%] text-xl rounded-full bg-ring w-[380px] h-[380px] transition hover:scale-[110%] z-0 duration-1000 ease-in-out blur-3xl"
	>
	</div> -->
</RootLayout>

<style>
	.title-wrapper > div {
		grid-area: 1/1/-1/-1;
	}
	.title-top {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
	}
	.title-bottom {
		clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
